# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
"""Default configuration for the Airflow webserver"""

import os
from airflow import configuration as conf
from flask_appbuilder.security.manager import AUTH_LDAP

# Flask-WTF flag for CSRF
WTF_CSRF_ENABLED = True

SQLALCHEMY_DATABASE_URI = conf.get("database", "sql_alchemy_conn")

AUTH_TYPE = AUTH_LDAP
AUTH_ROLE_ADMIN = "{{ airflow_ldap.role_admin }}"
AUTH_LDAP_SERVER = "{{ airflow_ldap.server }}"

# registration configs
AUTH_USER_REGISTRATION = {{ airflow_ldap.user_registration }}
AUTH_LDAP_FIRSTNAME_FIELD = "{{ airflow_ldap.user_registration_firstname_field }}"
AUTH_LDAP_LASTNAME_FIELD = "{{ airflow_ldap.user_registration_lastname_field }}"
AUTH_LDAP_EMAIL_FIELD = "{{ airflow_ldap.user_registration_mail_field }}"
# Required if not mapping from LDAP DN
AUTH_USER_REGISTRATION_ROLE = "{{ airflow_ldap.user_registration_role }}"

# search configs
AUTH_LDAP_SEARCH = "{{ airflow_ldap.search_base }}"  # the LDAP search base
AUTH_LDAP_UID_FIELD = "{{ airflow_ldap.uid_field }}"  # the username field
AUTH_LDAP_BIND_USER = "{{ airflow_ldap.bind_user }}"  # the special bind username for search
AUTH_LDAP_BIND_PASSWORD = "{{ airflow_ldap.bind_password }}"  # the special bind password for search

AUTH_LDAP_GROUP_FIELD = "{{ airflow_ldap.group_field }}"
AUTH_ROLES_SYNC_AT_LOGIN = {{ airflow_ldap.roles_sync_at_login }}

# a mapping from LDAP DN to a list of FAB roles
# AUTH_ROLES_MAPPING = {
#     "cn=fab_users,{{ airflow_ldap.search_base }}": ["User"],
#     "cn=fab_admins,{{ airflow_ldap.search_base }}": ["Admin"],
# }

# LDAPS
AUTH_LDAP_USE_TLS = {{ airflow_ldap.use_tls }}