##########################################
# To change the log leve, edit the `level' field.
# Choices are: DEBUG, INFO, WARNING, ERROR, CRITICAL
#
# The logrotation limit is set at 5MB per file for a total of 5 copies.
# I.e. 25MB for each set of logs.
##########################################
[handler_logfile]
{% if hue_root_logger == "RFA" %}
class=handlers.RotatingFileHandler
args=('%LOG_DIR%/{{ hue_log_file }}', 'a', {{ hue_log_rfa_maxfilesize_mb * 1000000 }}, {{ hue_log_rfa_maxbackupindex }})
{% elif hue_root_logger == "DRFA" %}
class=handlers.TimedRotatingFileHandler
args=('%LOG_DIR%/{{ hue_log_file }}' , '{{ hue_log_drfa_date_pattern  }}' , 1, {{ hue_log_drfa_maxbackupindex }})
{% endif %}
level={{ hue_loggers_level }}
formatter=default

##########################################
# Please do not change the settings below
##########################################

[logger_root]
handlers=logfile,errorlog

[logger_access]
handlers=accesslog
qualname=access

[logger_django_auth_ldap]
handlers=accesslog
qualname=django_auth_ldap

[logger_kazoo_client]
level={{ hue_loggers_level }}
handlers=errorlog
qualname=kazoo.client

[logger_djangosaml2]
level={{ hue_loggers_level }}
handlers=errorlog
qualname=djangosaml2

[logger_django_db]
level={{ hue_loggers_level }}
handlers=errorlog
qualname=django.db.backends

[logger_boto]
level={{ hue_loggers_level }}
handlers=errorlog
qualname=boto

# The logrotation limit is set at 5MB per file for a total of 5 copies.
# I.e. 25MB for each set of logs.
[handler_accesslog]
{% if hue_root_logger == "RFA" %}
class=handlers.RotatingFileHandler
args=('%LOG_DIR%/{{ hue_log_access_file }}', 'a', {{ hue_log_rfa_maxfilesize_mb * 1000000 }}, {{ hue_log_rfa_maxbackupindex }})
{% elif hue_root_logger == "DRFA" %}
class=handlers.TimedRotatingFileHandler
args=('%LOG_DIR%/{{ hue_log_access_file }}', '{{ hue_log_drfa_date_pattern  }}' , 1, {{ hue_log_drfa_maxbackupindex }})
{% endif %}
level={{ hue_loggers_level }}
propagate=True
formatter=access

# All errors go into error.log
[handler_errorlog]
{% if hue_root_logger == "RFA" %}
class=handlers.RotatingFileHandler
args=('%LOG_DIR%/{{ hue_log_error_file }}', 'a', {{ hue_log_rfa_maxfilesize_mb * 1000000 }}, {{ hue_log_rfa_maxbackupindex }})
{% elif hue_root_logger == "DRFA" %}
class=handlers.TimedRotatingFileHandler
args=('%LOG_DIR%/{{ hue_log_error_file }}', '{{ hue_log_drfa_date_pattern  }}', 1, {{ hue_log_drfa_maxbackupindex }})
{% endif %}
level=ERROR
formatter=default

[formatter_default]
class=desktop.log.formatter.Formatter
format={{ hue_log_layout_pattern }}
datefmt={{ hue_log_date_format }}

[formatter_access]
class=desktop.log.formatter.Formatter
format={{ hue_access_log_layout_pattern }}
datefmt={{ hue_log_date_format }}

[loggers]
keys=root,access,django_auth_ldap,kazoo_client,djangosaml2,django_db,boto

[handlers]
keys=logfile,accesslog,errorlog

[formatters]
keys=default,access
