# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Ensure kerberos common installation steps are performed
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: install

- name: Ensure hue user's principal and keytab exist
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  vars:
    principal: hue/{{ ansible_fqdn }}
    keytab: hue.service.keytab
    user: "{{ hue_user }}"
    group: "{{ hadoop_group }}"
    mode: "0600"
  when: krb_create_principals_keytabs

- name: Ensure hue's keytab is working
  ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: check_secure_keytab
  vars:
    principal: hue/{{ ansible_fqdn }}
    keytab: hue.service.keytab
    user: "{{ hue_user }}"
    group: "{{ hadoop_group }}"
    mode: "0600"
  when: not krb_create_principals_keytabs
