---
# Airflow Version
airflow_version: 2.2.2

# Airflow installation directory
airflow_root_dir: /opt/tdp
airflow_install_dir: "{{ airflow_root_dir }}/airflow"

# Airflow users and group
airflow_user: airflow
airflow_group: airflow

# Airflow pid directories
airflow_pid_dir: /run/airflow

# Airflow database
airflow_db_user: airflow
airflow_db_pass: airflow123
airflow_db_host: tdp-db-1.lxd
airflow_db_port: 5432
airflow_db_name: airflow_db
aitflow_sql_alchemy_conn: "postgresql+psycopg2://{{ airflow_db_user }}:{{ airflow_db_pass }}@{{ airflow_db_host }}:{{ airflow_db_port }}/{{ airflow_db_name }}"

# Airflow admin user
airflow_admin_user: admin
airflow_admin_pass: admin123

# Airflow log dir
airflow_log_dir: /var/log/airflow

# Airflow config
airflow_executor: CeleryExecutor
airflow_result_backend: "db+postgresql://{{ airflow_db_user }}:{{ airflow_db_pass }}@{{ airflow_db_host }}:{{ airflow_db_port }}/{{ airflow_db_name }}"
airflow_broker_url: "redis://tdp-airflow-w-1.lxd:6379/0"