tickTime={{ tickTime }}
initLimit={{ initLimit }}
syncLimit={{ syncLimit }}
dataDir={{ zookeeper_data_dir }}
clientPort={{ clientPort }}
{% for zk_server in zk_servers %}
server.{{ loop.index }}={{ zk_server }}
{% endfor %}
