---
- ansible.builtin.include_role:
    name: tosit.tdp.utils.user
  vars:
    user: "{{ livy_user }}"
    group: "{{ hadoop_group }}"

- name: Upload {{ livy_dist_file }}
  ansible.builtin.copy:
    src: "{{ binaries_local_dir }}/{{ livy_dist_file }}"
    dest: "{{ binaries_upload_dir }}"
    group: root
    owner: root
    mode: "644"
  diff: no

- name: Ensure livy root dir exists
  ansible.builtin.file:
    path: "{{ livy_root_dir }}"
    state: directory
    group: root
    owner: root
    mode: "755"

- name: Extract Livy
  ansible.builtin.unarchive:
    src: "{{ binaries_upload_dir }}/{{ livy_dist_file }}"
    dest: "{{ livy_root_dir }}"
    group: root
    owner: root
    mode: "755"
    remote_src: yes

- name: Create symbolic link to Livy installation
  ansible.builtin.file:
    dest: "{{ livy_install_dir }}"
    src: "{{ livy_root_dir }}/{{ livy_release }}/"
    state: link

- name: Create directory for pid
  ansible.builtin.file:
    path: "{{ livy_pid_dir }}"
    state: directory
    group: "{{ hadoop_group }}"
    owner: "{{ livy_user }}"
    mode: "750"

- name: Template livy tmpfiles.d
  ansible.builtin.template:
    src: tmpfiles-livy.conf.j2
    dest: "/etc/tmpfiles.d/livy-server-{{ spark_version }}.conf"
    owner: root
    group: root
    mode: "644"

- name: Create log directory
  ansible.builtin.file:
    path: "{{ livy_log_dir }}"
    state: directory
    group: "{{ hadoop_group }}"
    owner: "{{ livy_user }}"
    mode: "750"
    recurse: yes

- name: Template Livy Server service file
  ansible.builtin.template:
    src: livy-server.service.j2
    dest: "/usr/lib/systemd/system/livy-server-{{ spark_version }}.service"
    owner: root
    group: root
    mode: "644"
  notify: systemctl daemon-reload
