---
- ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: install

- ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: create_principal_keytab
  vars:
    principal: "livy/{{ ansible_fqdn }}@{{ realm }}"
    keytab: "livy.service.keytab"
    user: "{{ livy_user }}"
    group: "{{ hadoop_group }}"
    mode: "600"
  when: krb_create_principals_keytabs

- ansible.builtin.import_role:
    name: tosit.tdp.utils.kerberos
    tasks_from: check_secure_keytab
  vars:
    principal: "livy/{{ ansible_fqdn }}@{{ realm }}"
    keytab: "livy.service.keytab"
    user: "{{ livy_user }}"
    group: "{{ hadoop_group }}"
    mode: "600"
  when: not krb_create_principals_keytabs
