# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Backup configuration
  ansible.builtin.copy:
    src: "{{ jupyterhub_server_conf_dir }}/"
    dest: "{{ jupyterhub_server_conf_dir }}.{{ ansible_date_time.epoch }}"
    owner: root
    group: root
    mode: "0755"
    remote_src: true
  tags:
    - backup

- name: Template Jupyterhub service file
  ansible.builtin.template:
    src: jupyterhub.service.j2
    dest: /usr/lib/systemd/system/jupyterhub.service
    owner: root
    group: root
    mode: "0644"
  notify: systemctl daemon-reload

- name: Template jupyterhub_start.sh
  ansible.builtin.template:
    src: jupyterhub_start.sh.j2
    dest: "{{ jupyterhub_root_dir }}/{{ jupyterhub_release }}/bin/jupyterhub_start.sh"
    owner: root
    group: root
    mode: "0755"

- name: Template jupyterhub_init.sh
  ansible.builtin.template:
    src: jupyterhub_init.sh.j2
    dest: "{{ jupyterhub_root_dir }}/{{ jupyterhub_release }}/bin/jupyterhub_init.sh"
    owner: root
    group: root
    mode: "0755"

- name: Template Jupyterhub configuration
  ansible.builtin.template:
    src: jupyterhub_config.py.j2
    dest: "{{ jupyterhub_server_conf_dir }}/jupyterhub_config.py"
    owner: root
    group: root
    mode: "0644"
  no_log: "{{ tdp_no_log is not defined or tdp_no_log }}"

- name: Template Jupyterhub init_db.py
  ansible.builtin.template:
    src: init_db.py.j2
    dest: "{{ jupyterhub_root_dir }}/{{ jupyterhub_release }}/init_db.py"
    owner: root
    group: root
    mode: "0644"

- name: Initiate JupyterHub database
  run_once: true
  become_user: "{{ jupyterhub_user }}"
  ansible.builtin.command: |
    {{ jupyterhub_root_dir }}/{{ jupyterhub_release }}/bin/jupyterhub_init.sh
  register: jupyterhub_database_init
  failed_when: jupyterhub_database_init.rc != 0
