# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- ansible.builtin.import_playbook: ../livy_server_install.yml
- ansible.builtin.import_playbook: ../livy_kerberos_install.yml
- ansible.builtin.import_playbook: ../livy_ssl-tls_install.yml
# livy_install
- ansible.builtin.import_playbook: ../livy_jmx-exporter_config.yml
- ansible.builtin.import_playbook: ../livy_server_config.yml
# livy_config
- ansible.builtin.import_playbook: ../livy_server_start.yml
# livy_server_init
# livy_start
# livy_init
