# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- ansible.builtin.import_playbook: ../livy-spark3_jmx-exporter_config.yml
- ansible.builtin.import_playbook: ../livy-spark3_server_install.yml
- ansible.builtin.import_playbook: ../livy-spark3_kerberos_install.yml
- ansible.builtin.import_playbook: ../livy-spark3_ssl-tls_install.yml
# livy-spark3_install
- ansible.builtin.import_playbook: ../livy-spark3_server_config.yml
# livy-spark3_config
- ansible.builtin.import_playbook: ../livy-spark3_server_start.yml
# livy-spark3_server_init
# livy-spark3_start
# livy-spark3_init
