# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Stop Hue Server
  hosts: hue_server
  tasks:
    - tosit.tdp.resolve: # noqa unnamed-task
        node_name: hue_server
    - name: Stop Hue Server
      ansible.builtin.import_role:
        name: tosit.tdp_extra.hue.server
        tasks_from: stop
    - ansible.builtin.meta: clear_facts # noqa unnamed-task
