# coding=utf8
# the above tag defines encoding for this document and is for Python 2.x compatibility

# Update hue.ini webhdfs entry using regex to locate existing update it usingargs passed with the command.
# e.g. python2 update_hue_ini.py <hue_config_filepath_string> <webhdfs_endpoint_string>

import re
import sys


if __name__=="__main__":
    if not len(sys.argv)==4:
        raise Exception("Mandatory args missing. Ensure that hue_ini_filepath, values_to_replace_regex, replace_value are given as args to the {{ hue_service_failover_update_script }} script.")
    hue_ini_file = sys.argv[1]
    replace_regex = sys.argv[2]
    update_string = sys.argv[3]
    with open (hue_ini_file, 'r+' ) as f:
        current_config = f.read()
        updated_config = re.sub(replace_regex, r'\1'+ update_string +r'\3', current_config, flags = re.M)
        f.seek(0)
        f.write(updated_config)
        f.truncate()
