[Unit]
Description=Hue

[Service]
User={{ hue_user }}
Type=simple

ExecStart={{ hue_build_dir }}/build/env/bin/supervisor

# Stop all hue process
Environment=pids=( $(pgrep -f hue) )
ExecStop=sh -c "for pid in "${pids[@]}"; do if [[ $pid != $$ ]]; then kill "$pid"; fi; done"

[Install]
WantedBy=multi-user.target
